.create-list-top-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  color: #fff;
  background-color: #333333;
}

.create-list-secondary-header {
  height: 70px;
  background-color: #eaecee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-list-input {
  width: 100%;
  border: none;
  font-size: 40px;
}

.new-list-input:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 576px) {
  .create-list-top-header {
    display: none;
  }

  .create-list-secondary-header h2 {
    font-size: 20px;
  }

  .new-list-input {
    font-size: 20px;
  }
}
