.task {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  max-height: 100%;
}

.task-info {
  height: 100%;
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task-inner-info h6 {
  width: 100%;
  height: 100%;
}

.task-inner-info span {
  flex: 1;
}

.task:hover .task-actions {
  display: block;
}

.task-actions-wrapper {
  flex: 1;
}

.task-actions-sm-wrapper {
  display: none;
}

.task-actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.task-date {
  color: #000;
  background-color: #d4d4d4;
  border-radius: 10px;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 12px;
}

.task-action-icon {
  margin: 0px 6px;
  color: #d4d4d4;
}

@media screen and (max-width: 568px) {
  .task {
    padding: 0px 10px;
  }

  .task-date {
    font-size: 8px;
  }

  .task-actions-wrapper {
    display: none;
  }

  .task-actions-sm-wrapper {
    flex: 1;
    display: block;
  }

  .task:hover .task-actions {
    display: none;
  }
}
