.task-dashboard {
  position: relative;
}

.dashboard-top-header-wrapper {
  height: 40px;
}

.dashboard-top-header {
  background-color: black;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dashboard-secondary-header {
  background-color: purple;
  height: 70px;
  width: 100%;
}

.dashboard-main-header {
  display: none;
}

@media screen and (max-width: 576px) {
  .dashboard-top-header-wrapper {
    display: none;
  }

  .dashboard-main-header {
    display: block;
    height: 70px;
    background-color: #9932cc;
    display: flex;
    align-items: center;
  }
}
