.task-dashboard {
  position: relative;
}

.dashboard-top-header-wrapper {
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dashboard-top-header {
  background-color: black;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.dashboard-secondary-header {
  background-color: purple;
  height: 60px;
  width: 100%;
  color: #fff;
}

.dashboard-secondary-header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 100%;
}

.dashboard-main-header {
  display: none;
}

.db-link {
  color: #fff;
}

.db-link:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .dashboard-top-header-wrapper {
    display: none;
  }

  .dashboard-main-header {
    display: block;
    height: 70px;
    background-color: #9932cc;
    display: flex;
    align-items: center;
  }

  .dashboard-secondary-header .row {
    justify-content: flex-end;
  }

  .db-secondary-header-title {
    display: none;
  }

  .y {
    display: none;
    font-size: 30px;
    color: #fff !important;
  }

  .clone-btn {
    color: #fff !important;
    border: 1px solid black !important;
  }

  .clone-btn:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid black;
  }
}
