.saved-list-top-header {
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}

.new-list-btn {
  color: #fff;
  background-color: green;
}

.saved-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.saved-list {
  border: 1px solid #d4d4d4;
  padding: 4px 5px;
  border-radius: 10px;
  margin: 0px 10px;
}

@media screen and (max-width: 576px) {
  .saved-list-top-header {
    display: none;
  }
}
